/* 
"#" = ID
#logo {}

"." = CLASS 
.tete {}
*/

/* TAILLE DE LA POLICE
    -> Taille absolue
        Ne prend pas en considération l'utilisateur
        Pixel (px)

    -> Taille relative
        Prend en considération l'utilisateur
        "words" : xx-small / x-small / medium / large / x-Large / xx-Large
        "em" : 1em = normal / 
*/

body {
    font-family: 'Open Sans';
    background-color: #f4f4f4;} 

h1 {
    text-align: center;
    -webkit-box-shadow: 15px 15px 33px -2px #000000; 
    box-shadow: 15px 15px 33px -2px #000000;}

h2 {
    border: 1px black solid;
    box-shadow: 10px 10px;}  

a {
    text-decoration: none;
    color: black;}

nav{
    text-align: center;}

ul{
    padding: 0;}

li{
    list-style-type: none;}



/* POLICES */
@font-face {
    font-family: coolvetica;
    src: url(../Src/coolvetica.otf) format(truetype);}